@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

/* *,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
} */

/*========================
    NAV
=========================*/
.container {
  text-align: center;
}

#navbarSupportedContent {
  height: 220px;
  overflow: auto;
  text-align: center;
  text-decoration: none !important;
  padding-left: 200px;
}
.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 34px !important;
  text-decoration: none;
  color: goldenrod !important;
  padding-left: 50px;
}

nav {
  background: rgb(63, 44, 63) !important;
  font-size: 18px;
  color: goldenrod !important;
}

li {
  color: goldenrod !important;
  /* padding-left: 10px; */
  word-spacing: 5px !important;
}
.color_animation {
  text-decoration: initial;
  word-spacing: 5px;
  margin-right: 10px;
  margin-left: 10px !important;
  color: goldenrod !important;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.color_animation:hover {
  color: brown !important;
}

ul {
  margin-left: 40px;
}

/*========================
    TITLE
=========================*/
#top {
  background-image: url("../images/restaurantImg.png");
  margin-top: -21px;
  padding: 0;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  background-position: center;
}

.follow_container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

.top-title {
  color: goldenrod;
  font-family: "Playball", cursive;
  font-size: 120px;
  font-weight: 400;
}

.second-title {
  color: goldenrod;
  font-weight: lighter;
  font-size: 30px;
  font-style: italic;
  text-transform: capitalize;
}



@media (max-width: 660px) {

  body {
    width: 194%;
    height: 100%;
  }
  
  .follow_container {
    width: 100%;
    position: relative;
    top: 35%;
    text-align: center;
  }
  
  #navbarSupportedContent {
    height: 135px;
    overflow: auto;
    text-align: center;
    padding-left: 0px;
    text-decoration: none !important;
  }

}

@media (min-width: 660px) {
  .navbar {
    height: 80px;
  }

  #navbarSupportedContent {
    height: 65px;
    overflow: auto;
    text-align: center;
    text-decoration: none !important;
  }

}

@media (max-width: 992px) {
  .navbar-brand {
    padding: 20px;
  }
  .color_animation {
    margin: 15px;
  }

  #navbarSupportedContent {
    height: 145px;
    overflow: auto;
    text-align: center;
    padding-left: 0px;
    background-color: rgb(63, 45, 63);
    text-decoration: none !important;
  }
}
