@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

/*========================
    NAV
=========================*/
div#navbarSupportedContent {
  height: 220px;
  overflow: auto;
  text-align: center;
  text-decoration: none !important;
}
.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 34px !important;
  text-decoration: none;
  color: white !important;
  padding-left: 50px;
  
}

nav {
  background: #817979 !important;
  font-size: 18px;
  color: white !important;
}

li {
  color: white !important;
  /*padding-left: 10px;*/
  word-spacing: 5px !important;
} 
.nav-link {
  text-decoration: initial;
  word-spacing: 0px;
  margin-right: 0px;
  margin-left: 0px !important;
  color: white !important;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
} 

.nav-link:hover {
  color: #9be86f !important;
}

ul{
  margin-left:40px;
}


@media (min-Width: 991px){
  .navbar{
    height: 80px;
  }
}

