@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap");


body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

/*========================
    NAV
=========================*/
